﻿
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<body background="images/College.jpg">


    <fieldset class="field">
        <legend>Login</legend>
        <div id="id01" class="model">

            <form class="model-content">
                <div class="imgcontainer">
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit" class="subbutton" id="btnlogin">Login</button>
                    <%--  @*<label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>*@
                </div>

                <div class="container">
                    @*<%--      <button type="button" onclick="" class="cancelbtn">Cancel</button>--%>*@
                    <span>Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
    </fieldset>

</body>

